/* Cores padrão do site (Modo Claro) */
body {
    background-color: #ffffff;
    color: #1a1a1a;
    transition: background-color 0.3 s ease, color 0.3 s ease;
    font-family: sans-serif;
    padding: 20 px;
}

/* Quando o JavaScript ativa o Modo Escuro */
body.dark-mode {
    background-color: #121214;
    color: #e1e1e6;
}
